.home-primary {
	display: grid;
	grid-template-areas:
		"search user"
		"list list";
	grid-template-rows: auto 1fr;
	grid-template-columns: 300px 1fr;
	padding: 10px;
	overflow: auto;
}

.search {
	grid-area: search;
}

.search input {
	background: #f0f0f0;
	font-family: "Lato";
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	width: 100%;
	border: none;
	box-shadow: 0 0 10px #f0f0f0;
	box-sizing: border-box;
}

.primary-user {
	justify-self: end;
}

.user p {
	display: flex;
	align-items: center;
	font-weight: 300;
	margin: 0;
}
.user img {
	width: 45px;
	height: 45px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}

.primary-list {
	grid-area: list;
	overflow: auto;
}
.primaryPlaylist-topic {
	margin: 15px 0 0;
	color: #888b8e;
	font-size: 14px;
	font-weight: 300;
}
.primaryPlaylist-title {
	margin: 0 0 15px;
	color: #3f546c;
	font-size: 20px;
	font-weight: 400;
}
.primaryPlaylist-list {
	display: flex;
	overflow: auto;
}

.primaryPlaylist-list .primaryPlaylistItem {
	margin-right: 10px;
}

.primaryPlaylistItem {
	/*border: 1px solid blue;*/
}

.primaryPlaylistItem-image {
}

.primaryPlaylistItem img {
	width: 250px;
	height: 180px;
	object-fit: cover;
}
.primaryPlaylistItem-title {
	margin: 5px 0;
	color: #44546b;
	font-size: 14px;
	font-weight: normal;
}
